POSTGRES_USER=your_db_user
POSTGRES_PASSWORD=your_db_password
POSTGRES_DB=urlshortener_db
DATABASE_URL=postgresql://POSTGRES_USER:POSTGRES_PASSWORD@postgres:5432/POSTGRES_DB
REDIS_URL=redis://redis:6379 or your_redis_provider_url
PORT=3000 or any_other_port_number
NODE_ENV=development or production or testing
RATE_LIMIT_MAX_REQUESTS=no_of_rate_limiting_maximum_req_per_sec
RATE_LIMIT_WINDOWSMS=time_of_each_window_in_ms
LOG_LEVEL=your_logging_level_for_pino